main.main
    .container
        h1.base__h1.base__heading Доступные конфигурации
        .price
            .price__item 
                .price__item_cpu(data-head='Процессор') Intel Xeon E5-1650v4 3.6 ГГц
                .price__item_hdd(data-head='Жесткий диск') 512 ГБ
                .price__item_ram(data-head='Память') 128 ГБ
                .price__item_price(data-head='Цена') 12 000 ₽/мес.
                .price__item_button
                    a(href='https://selectel.ru/',target='_blank',class='base__button') Заказать
            .price__item 
                .price__item_cpu(data-head='Процессор') Intel Xeon E5-1650v4 3.6 ГГц
                .price__item_hdd(data-head='Жесткий диск') 512 ГБ
                .price__item_ram(data-head='Память') 128 ГБ
                .price__item_price(data-head='Цена') 12 000 ₽/мес.
                .price__item_button
                    a(href='https://selectel.ru/',target='_blank',class='base__button') Заказать
                    
