.base__socicons
    a(class='base__socicon', href='https://vk.com/selectel', target='_blank') 
        img(src='img/ico-vk.svg',alt='Вконтакте',width='32',height='18')
    a(class='base__socicon', href='https://www.facebook.com/selectel/', target='_blank') 
        img(src='img/ico-fb.svg',alt='Facebook',width='11',height='24')
    a(class='base__socicon', href='https://twitter.com/selectel', target='_blank') 
        img(src='img/ico-tw.svg',alt='Twitter',width='26',height='22')
    a(class='base__socicon', href='https://habrahabr.ru/company/selectel/', target='_blank') 
        img(src='img/ico-hb.svg',alt='ХабраХабр',width='20',height='22')
    a(class='base__socicon', href='https://www.youtube.com/channel/UCVU0Ml1l_Y90wmy5EjWTSng', target='_blank') 
        img(src='img/ico-you.svg',alt='YouTube',width='28',height='20')
    a(class='base__socicon', href='https://www.instagram.com/selectel.ru/', target='_blank') 
        img(src='img/ico-inst.svg',alt='Instagram',width='26',height='26')