.base__socicons 
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
.base__socicon
    opacity: 1
    transition: hover
    &:hover 
        opacity: 0.6