.base__logo 
    display: block
    height: auto
    background: url('.././img/logo_white.svg') left center no-repeat
    background-size: cover
    opacity: 1
    transition: hover;
    width: 112.5px
    height: 24px
    &:hover 
        opacity: 0.6
    