header.header
    .container
        .header__wrapper
            .header__logo 
                    include ../base/__logo/__logo.pug
            .header__phone
                    include __phone/__phone.pug