.phone-link 
    padding-left: 38px
    line-height: 22px
    height: 22px
    font-size: 20px
    background: url('.././img/ico-phone.svg') left center no-repeat
    background-size: 22px 22px
    color: #fff
    text-decoration: none
    opacity: 1
    transition: hover
    &:hover 
        opacity: 0.6
        