footer.footer
    .container
        .footer__wrapper
            .footer__logo
                include ../base/__logo/__logo.pug
            .footer__socicons
                include ../base/__socicons/__socicons.pug