.footer
    padding: 40px 0
    background-color: #092433
    color: #fff
    &__wrapper
        display: flex
        flex-wrap: wrap
        justify-content: center
    &__logo 
        width: 112.5px
        margin: 0 auto 32px
    &__socicons
        width: 245px
        margin: 0 auto
    
@media (min-width: 768px) 
    .footer
        &__wrapper
            justify-content: space-between
        &__logo 
            margin: 0
        &__socicons
            margin: 0