.slider
    .slider__wrapper
        .slider__slide.slider__item-1.slider__slide_active
            .container
                p.slider__heading.base__heading Надежное, безопасное, удобное хранилище ваших данных
                p.slider__description Подходит для веб-приложений, хранения архивов, резервного копирования и раздачи статического контента.
                a(href='https://selectel.ru/',target='_blank',class='base__button') Заказать
        .slider__slide.slider__item-2
            .container
                p.slider__heading.base__heading Надежные серверы для проектов любой сложности
                p.slider__description Выделенный сервер — это аренда сервера под задачи вашего проекта с возможностью свободно распоряжаться ресурсами машины и установки любого программного обеспечения.
                a(href='https://selectel.ru/',target='_blank',class='base__button') Заказать
        .slider__slide.slider__item-3
            .container
                p.slider__heading.base__heading Публичное облако на базе технологий VMware с оплатой по потреблению
                p.slider__description Публичное облако на базе VMware позволяет быстро нарастить мощности вашего дата-центра без капитальных и организационных затрат с оплатой за потребляемые ресурсы. 
                a(href='https://selectel.ru/',target='_blank',class='base__button') Заказать
        .slider__slide.slider__item-4
            .container
                p.slider__heading.base__heading Размещение серверного оборудования в дата‑центрах уровня надежности Tier III
                p.slider__description Размещение серверного оборудования (колокейшн) в современном дата-центре с уровнем надежности Tier III с гарантированным каналом связи с высокой пропускной способностью, бесперебойным питанием и необходимым охлаждением.
                a(href='https://selectel.ru/',target='_blank',class='base__button') Заказать